

// colors
$deep-blue: #6A8083;
$tan: #94A097;
$red: #5c131a;


.bg-deep-blue{
    background-color: $deep-blue;
}
.bg-tan{
    background-color: $tan;
}

.bg-green{
    background-color: $deep-blue;
}